@model ECommerce.ModulesHelpers.Mail.ActiveAccountVM

<body>
    <h1>
        Hello <strong>@Model.UserName</strong>, registration completed!
    </h1>

    <p>
        To verify the account click on the link below to be redirected.
    </p>

    <strong>
        Thanks so much for joining with us!
    </strong>

    <div>
        <p>
            To finish signing up and activate your account
            <br>
            you just need to set your password.
        </p>

        <button>
            <a href="@Model.RedirectURL">
                Active Your Account >>
            </a>
        </button>
    </div>
</body>