@model ECommerceMailService.Models.RecoverPasswordVM

<body>
    <h1>
        Please reset your password
    </h1>

    <div>
        <h2>
            Hello <strong>@Model.UserName</strong>
        </h2>

        <p>
            We have sent you this email in response to your request to reset your password on company name.
            <br>
            To reset your password, please follow the link below:
        </p>

        <button>
            <a href="@Model.RedirectURL">
                Reset Password >>
            </a>
        </button>

        <p>
            Please ignore this email if you did not request a password change.
        </p>
    </div>
</body>