{
  "AllowedHosts": "*",
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Information"
    }
  },
  "PRIVATE_KEY": "ff267f0ac44a7ef41b200c90349230722ae25969f40d9134dc5%b3c08fb4835c821DgcÇvc$daV*Hv2p$54%&C@cD084",
  "URL_AUTH_EMAIL": "http://localhost:5232/auth/active-account/",
  "URL_RESET_PASS": "http://localhost:5232/auth/reset-password/",
  "TOKEN_ACCESS_EXP": 12,
  "TOKEN_REFRESH_EXP": 6,
  "TOKEN_RECOVER_PASS_EXP": 0.10,
  "TOKEN_AUTH_EMAIL_EXP": 6,
  "MAIL_HOST": "smtp.gmail.com",
  "MAIL_PORT": 587,
  "MAIL_ENCRYPTION": true,
  "MAIL_FROM_NAME": "ECommerce",
  "MAIL_FROM_ADDRESS": "noreply@ecommerce.com",
  "MAIL_USER": "YOUR_GMAIL@gmail.com",
  "MAIL_PASS": "EMAIL APP PASSWORD",
  "DB_DEFAULT_CONNECTION": "Server=localhost;Database=ECommerce;UserId=root;Password=12345;",
  "CACHE_CONNECTION": "localhost:6379,password=12345"
}